@import "tailwindcss";

:root {
  --boxes-height: 14rem;
}

body {
  background-color: #e9eaf0;
}

.outlet {
  margin: 0 0 0 6rem;
}

.gridBox {
  height: var(--boxes-height);
}

@media only screen and (max-width: 768px) {
  .outlet {
    margin: 0;
  }
}
